html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: #f8f8f8;
}

header {
    background-color: #10446c;
    box-shadow: 1px 4px 16px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
    z-index: 100;
}

.hamburger {
    display: none;
    background-color: grey;
    width: 30px;
    height: 30px;
}

.logo-container {
    max-width: 60px;
}

.logo {
    max-width: 100%;
}

.home, .about, .contact, .product {
    text-decoration: none;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(60, 64, 68, 0.71);
    transition: 0.3s;
}

.home:hover, .about:hover, .contact:hover, .product:hover {
    background-color: #0c3250;
}

.footer {
    background-color: #10446c;
    box-shadow: 1px -4px 16px 8px rgba(0, 0, 0, 0.26);
}

.section-break {
    background-color: #10446c;
    height: 3px;
    max-width: 90%;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.page {
    max-width: 85%;
    margin: auto;
}

.page-heading {
    padding-top: 90px;
    text-align: center;
}

.footer {
    background-color: #10446c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.footer-about, .footer-product, .footer-contact {
    color: white;
    padding-left: 40px;
}

.copyright, .copyright-text {
    margin: 0px;
    background-color:#0a2b44;
    color: white;
    font-size: 14px;
    text-align: center;
}

.bore-section, .cut-section, .laminate-cut-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.bore-section-text, .cut-section-text, .laminate-cut-section-text {
    margin: auto;
    margin-inline: 2vw;
}

.bore-section-photo, .cut-section-photo, .laminate-cut-section-photo {
    max-width: 100%;
}

.bore-section-text-heading, .cut-section-text-heading, .laminate-cut-section-text-heading {
    text-align: center;
}

.bore-section-text-detail, .cut-section-text-detail, .laminate-cut-section-text-detail {
    font-size: 18px;
    text-align: center;
}

.bore-section-text-button, .cut-section-text-button, .laminate-cut-section-text-button {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #10446c;
    padding: 10px;
    padding-inline: 10px;
    border-radius: 10px;
    margin-right: 25%;
    margin-left: 25%;
    display: block;
    margin-top: 20px;
    transition: 0.3s;
}

.bore-section-text-button:hover, .cut-section-text-button:hover, .laminate-cut-section-text-button:hover {
    background-color: #165b8f;
    opacity: 90%;
}

@media only screen and (max-width: 830px) {
    .hamburger {
        display: inline-flex;
        margin-right: 15px;
    }

    .home, .about, .contact, .product {
        display: none;
    }

    .product-section {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .hero-heading {
        font-size: 8vw;
    }

    .hero-heading-sub {
        font-size: 3.5vw;
    }

    .product-section-text-heading {
        font-size: 40px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }

    .product-section-photo-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .product-section-text-button, .location-section-text-button {
        font-size: 16px;
    }

    .hover-content {
        min-height: 0px; 
    }

    .location-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .copyright-text {
        font-size: 2vw;
    }

    .footer {
        background-color: #10446c;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
    }
}

@media only screen and (min-width: 1400px) {
    .hover-content {
        min-height: 120px; }
}